.add-button{
    background-color: #e85d04;
    width: 3vw;
    padding: 0.3em;
    border-radius: 3em;
    font-size: 2em;
    color: #370617;
    font-family: 'orange';
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-width: 2em;
    cursor: pointer;
}
.add-button:hover{
    background-color: #faa307;
}
.task-add
{
    justify-content: space-around;
    display: flex;
    width: 60vw;
    margin: 5vh auto;
    padding: 1vh 5px;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
